.frequentlyQuestionsWrapper {
  display: flex;
  background: var(--main-color);
  padding: 96px 252px 96px 252px;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  flex-direction: column;
}

.frequentlyQuestionsWrapper h1 {
  display: flex;
  font-size: var(--font-size-44-px);
  font-weight: 600;
  font-family: "Playfair Display", sans-serif;
  color: var(--secondary-color);
}

.frequentlyQuestionsWrapper h1 span {
  margin: 0 0 0 15px;
  font-size: var(--font-size-44-px);
  font-family: "Playfair Display", sans-serif;
  color: var(--tertiary-color);
}

.frequentlyQuestionsContent {
  gap: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 64px auto;
}

@media (max-width: 1630px){
    .frequentlyQuestionsWrapper {
        padding: 96px 20px 96px 20px;
    }
  .frequentlyQuestionsContent {
    grid-template-columns: repeat(1, 1fr);
  }
}