.clientHistoryItemWrapper {
  background: var(--grey);
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: left;
  padding: 32px;
  max-width: 456px;
  height: 522px;
  width: 100%;
  border-radius: 8px;
  margin: 0 auto;
  transition: 0.2s ease-in-out;
}

.clientHistoryItemTitle {
  display: flex;
  text-align: left;
  font-weight: bold;
  color: var(--main-color);
  font-family: "Raleway", sans-serif;
  margin: 24px 0 24px 0;
  font-size: var(--font-size-20-px);
}

.clientHistoryItemHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  justify-items: center;
}

.clientHistoryItemHeader section {
  display: flex;
}

.clientHistoryItemHeader section img {
  width: 64px;
  height: auto;
  object-fit: cover;
}

.clientHistoryItemHeader section h2 {
  color: var(--main-color);
  font-family: "Playfair Display", sans-serif;
  font-weight: 400;
  align-content: center;
  align-items: center;
  justify-items: center;
  margin: 0 0 0 10px;
  font-size: var(--font-size-18-px);
}

.clientIcon {
  width: 64px;
  display: flex;
  height: auto;
}

.clientHistoryItemHistory {
  display: flex;
  color: var(--main-color);
  font-weight: 400;
  font-size: var(--font-size-18-px);
  font-family: "Raleway", sans-serif;
  text-align: left;
}

@media (max-width: 1810px){
  .clientHistoryItemWrapper{
    height: 570px;
  }
}